
    .root {
        // padding: 2px 4px;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .inputField{
            margin: 10px;
            font-size: 1.5em;
        }
        div {
            width: 100%;
        }
    }

    .search-bar {
        display: flex;
        justify-content: space-between;
    }



