body{
    background: #000;
    color: #fff;
  }
  
  .catch-a-reindeer{
    text-align: center;
    padding: 5%;
  }
  
  .App-title{
    font-size: 46px;
    font-family: 'Mali', cursive;
    margin-bottom: 30px;
    margin-top: 30px;
  
  }
  
  #hits-container{
    text-align: center;
  }


  
  #root, #hits-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  app{
    max-width: 1000px;
  }