body{
    background: #000;
    color: #fff;
  }
  
  .catch-a-reindeer{
    text-align: center;
    padding: 5%;
  }
  
  .App-title{
    font-size: 46px;
    font-family: 'Mali', cursive;
    margin-bottom: 30px;
    margin-top: 30px;  
  }

  #root {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
.buttons{
  display: inline-flex;
  justify-content: center;
  > div{
    margin: 20px;
  }

}